@import '/static/libs/normalize/normalize.css'
@import '/static/libs/magnific/magnific-popup.css'
@import '/static/libs/bxslider/jquery.bxslider.css'
@import '/static/libs/animate/animate.css'
@import '/static/libs/hoveranimate/hover-min.css'